@import "styles/settings/__settings";

.section {

  width: 100%;
  padding: 1rem 0;
  margin: 1rem 0;

  @media (min-width: 960px) {
    padding: 2rem 0;
    margin: 3rem 0;
  }

  &[data-background-color="primary"] {
    color: white;
    background-color: $color-primary;
  }

}

